## Introduction to Python

### 1. Declaring Variables

In [1]:
var1 = 2
var2 = 5.0
var3 = True
var4 = "Machine Learning"

In [2]:
print("Value of var1 :", var1)
print("Value of var2 :", var2)
print("Value of var3 :", var3)
print("Value of var4 :", var4)

Value of var1 : 2
Value of var2 : 5.0
Value of var3 : True
Value of var4 : Machine Learning

In [3]:
type( var1 )

int

In [4]:
type( var2 )

float

In [5]:
type( var3 )

bool

In [6]:
type( var4 )

str

## 2 Conditional Statements

In [8]:
# Checking a condition if the variable value is more than 1
if var1 > 1:
    print( "Bigger than 1" )

Bigger than 1

In [9]:
x = 10
y = 12
# if x is greater than y
if x > y:
    print ("x > y")
# if x is lesser than y
elif x < y:
    print ("x < y")
else:
    print ("x = y")

x < y

In [10]:
# Initialize
x = 5
# Assign True if x is more than 10 or assign False using ternary operator
isGreater = True if x > 10 else False

In [11]:
isGreater

False

## 3.Generating Sequence Numbers

In [12]:
# Initializing the sequence of numbers starting from 1
# and ending (not including) with 6
numbers = range( 1, 6 )
numbers

range(1, 6)

In [13]:
print(numbers)

range(1, 6)

## 4.Control Flow Statements

### 4.1 : For Loop

In [18]:
# Iterate through the collection
for i in range(1,6):
    print(i,end = ' ')

1 2 3 4 5

### 4.2 : While Loop

In [1]:
# Initialize the value of 1
i = 1
# check the value of i to check if the loop will be continued or not
while i < 5:
    print(i)
    # Increment the value of i.
    i = i+1
# print after the value of i
print('Done')

1
2
3
4
Done

## 5 Functions

In [2]:
def addElements( a, b ):
    return a + b

In [3]:
result = addElements( 2, 3 )
result

5

In [4]:
result = addElements( 2.3, 4.5 )
result

6.8

In [5]:
result = addElements( "python", "workshop" )
result

'pythonworkshop'

In [6]:
def addElements( a, b = 4 ):
    return a + b

In [7]:
addElements( 2 )

6

In [8]:
addElements( 2, 5 )

7

## 6 Working with Collections

## 6.1 List

In [9]:
## Create an empty list
emptyList = []

In [10]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [11]:
batsmen[0]

'Rohit'

In [12]:
## Slicing an list
batsmen[0:2]

['Rohit', 'Dhawan']

In [13]:
## Accessing the last element
batsmen[-1]

'Dhoni'

In [14]:
# how many elements in the list
len( batsmen )

6

In [15]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [16]:
all_players = batsmen + bowlers

In [21]:
print(all_players,end='')

['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni', 'Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [22]:
'Bumrah' in bowlers

True

In [23]:
'Rayudu' in bowlers

False

In [24]:
all_players.index( 'Dhoni' )

5

In [25]:
all_players.reverse()
all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit']

## 6.2 Tuples

In [26]:
odiDebut = ( 'Kohli', 2008 )

In [27]:
odiDebut

('Kohli', 2008)

In [28]:
odiDebut[0]

'Kohli'

In [29]:
tup1[1] = 2009

NameError: name 'tup1' is not defined

In [30]:
players = tuple( all_players )

In [31]:
players

('Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit')

## 6.3 Set

In [32]:
setOfNumbers = {6,1,1,2,4,5}

In [33]:
setOfNumbers

{1, 2, 4, 5, 6}

In [35]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj","Yusuf"}
wc2015 = {"Dhoni", "Dhawan", "Rohit", "Rahane", "Kohli", "Raina", "Rayudu", "Jadeja"}

In [36]:
wc2011.union( wc2015 )

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

In [37]:
wc2011.intersection( wc2015 )

{'Dhoni', 'Kohli', 'Raina'}

In [38]:
wc2015.difference( wc2011 )

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

## 6.4 Dictionary

In [41]:
wcWinners = { 
1975: "West Indies",
1979: "West Indies",
1983: "India",
1987: "Australia",
1991: "Pakistan",
1996: "Srilanka",
1999: "Australia",
2003: "Australia",
2007: "Australia",
2011: "India"
}

In [42]:
wcWinners[1983]

'India'

In [43]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India'])

In [44]:
set(wcWinners.values())

{'Australia', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

In [45]:
wcWinners[2015] = 'Australia'

In [46]:
wcWinners

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Australia',
 1991: 'Pakistan',
 1996: 'Srilanka',
 1999: 'Australia',
 2003: 'Australia',
 2007: 'Australia',
 2011: 'India',
 2015: 'Australia'}

## 7 Dealing with Strings

In [47]:
string0 = 'python'
string1 = "machine learning"

In [48]:
string2 = """This is a
multiline string"""

In [49]:
# Converting to upper case
string0.upper()
# Similarly string.lower() can be used to convert to lower case.
# string0.lower()

'PYTHON'

In [50]:
tokens = string1.split(' ')
tokens

['machine', 'learning']

## 8 Functional Programming

## 8.1 Example 1: Map

In [51]:
intList = [1,2,3,4,5,6,7,8,9]

In [53]:
# Create an empty list.
squareList = []
# Loop through the intList, square every item and append to result list squareList.
for x in intList:
    squareList.append( pow( x, 2 ) )
print( squareList )

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
def square_me( x ):
    return x * x

In [55]:
squareList = map( square_me, intList)

In [56]:
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
squareList = map(lambda x: x*x, intList)
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## 8.2 Example 2: Filter

In [58]:
evenInts = filter( lambda x : x % 2 == 0, intList )

In [59]:
list( evenInts )

[2, 4, 6, 8]

## 9 Modules and Packages

In [60]:
import math
## Taking square root of a value
math.sqrt(16)

4.0

In [61]:
from random import sample

In [62]:
sample( range(0, 11), 3)

[8, 0, 1]

## 10 Other Features

In [63]:
import random
randomList = random.sample( range(0, 100), 20)
randomList

[92,
 77,
 63,
 22,
 33,
 20,
 84,
 82,
 54,
 97,
 93,
 31,
 61,
 30,
 10,
 55,
 96,
 32,
 36,
 14]

In [65]:
from statistics import mean, median
def getMeanAndMedian( listNum ):
    return mean(listNum), median(listNum)

In [66]:
mean, median = getMeanAndMedian( randomList )

In [67]:
print( "Mean: ", mean, " Median: ", median)

Mean:  54.1  Median:  54.5